<form>
  <input class="contact-form-name" type="text" value="Name">
  <input class="contact-form-email" type="text" value="Email">
  <br>
  <input class="contact-form-question" type="text" value="Enter your question here">
  <br>
  <button class="submit-form">Submit</button>
</form>