<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="bio-main">
  <%- include('../partials/bio.ejs'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>