<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main class="contact-main">
  <h3>Please fill out the form to get in touch</h3>
  <%- include('../partials/contactForm.ejs'); %>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>